<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/img/multi2.jpeg"></ion-img>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-note *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched" color="danger">
        Correo electrónico es requerido.
      </ion-note>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-note *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched" color="danger">
        Contraseña es requerida.
      </ion-note>
      <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>
    </form>
    <ion-button expand="full" fill="outline" (click)="irARegistro()">Registrarse</ion-button>
  </ion-card>
</ion-content>
