<ion-header>
  <ion-toolbar>
    <ion-title>Multi-Match</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-card>
      <ion-card-header>
        <img src="assets/img/multi2.jpeg" alt="Multi Match Logo" style="width: 100%; height: auto;">
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
          <ion-note *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" color="danger">
            Email inválido
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <ion-note *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" color="danger">
            Contraseña inválida
          </ion-note>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>
        <ion-button expand="full" fill="outline" (click)="irARegistro()">Registrarse</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>


<style>
  .login-image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .login-image {
    width: 150px;
    height: auto;
  }
</style>
