<ion-header>
  <ion-toolbar>
    <ion-title>Buzón de Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let invitacion of invitaciones">
      <ion-label>
        <h3>{{ invitacion.equipoId }} te ha invitado</h3>
        <p>{{ invitacion.mensaje }}</p>
        <p>Estado: {{ invitacion.estado }}</p>
      </ion-label>
      <ion-button *ngIf="invitacion.estado === 'pendiente'" (click)="aceptarInvitacion(invitacion)">Aceptar</ion-button>
      <ion-button *ngIf="invitacion.estado === 'pendiente'" (click)="rechazarInvitacion(invitacion)">Rechazar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
