<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" color="danger">
      Nombre es requerido
    </ion-note>

    <ion-item>
      <ion-label position="floating">Apellido Paterno</ion-label>
      <ion-input formControlName="apellidoPaterno"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('apellidoPaterno')?.invalid && registerForm.get('apellidoPaterno')?.touched" color="danger">
      Apellido Paterno es requerido
    </ion-note>

    <ion-item>
      <ion-label position="floating">Apellido Materno</ion-label>
      <ion-input formControlName="apellidoMaterno"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('apellidoMaterno')?.invalid && registerForm.get('apellidoMaterno')?.touched" color="danger">
      Apellido Materno es requerido
    </ion-note>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" color="danger">
      Email inválido
    </ion-note>

    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input formControlName="rut"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('rut')?.invalid && registerForm.get('rut')?.touched" color="danger">
      RUT es requerido
    </ion-note>

    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input formControlName="edad" type="number"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('edad')?.invalid && registerForm.get('edad')?.touched" color="danger">
      Edad mínima es 18
    </ion-note>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" color="danger">
      Contraseña inválida
    </ion-note>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched" color="danger">
      Las contraseñas no coinciden
    </ion-note>

    <ion-item>
      <ion-button expand="full" (click)="takePicture()">Tomar Foto</ion-button>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Registrarse</ion-button>
    <ion-button expand="full" fill="outline" (click)="irARegistro()">Iniciar Sesión</ion-button>
  </form>
</ion-content>
