<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Tipo de Usuario</ion-label>
      <ion-select formControlName="tipoUsuario">
        <ion-select-option value="jugador">Jugador</ion-select-option>
        <ion-select-option value="club">Club</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="registerForm.get('tipoUsuario')?.value === 'jugador'">
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido Paterno</ion-label>
        <ion-input formControlName="apellidoPaterno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido Materno</ion-label>
        <ion-input formControlName="apellidoMaterno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>RUT</ion-label>
        <ion-input formControlName="rut"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-input formControlName="edad" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Comuna</ion-label>
        <ion-input formControlName="comuna"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Posición</ion-label>
        <ion-input formControlName="posicion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Buscando equipo</ion-label>
        <ion-toggle formControlName="buscandoEquipo"></ion-toggle>
      </ion-item>
    </div>

    <div *ngIf="registerForm.get('tipoUsuario')?.value === 'club'">
      <ion-item>
        <ion-label>Nombre del Club</ion-label>
        <ion-input formControlName="nombreClub"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>RUT del Club</ion-label>
        <ion-input formControlName="rutClub"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-input formControlName="direccionClub"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Comuna</ion-label>
        <ion-input formControlName="comunaClub"></ion-input>
      </ion-item>
    </div>

    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Registrarse</ion-button>
  </form>
</ion-content>
