<ion-header>
  <ion-toolbar>
    <ion-title>¡Bienvenid&#64; a Multi-Match!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isClub">
    <h2>Mis Canchas</h2>
    <ion-list>
      <ion-item *ngFor="let cancha of clubCanchas">
        <ion-label>
          {{ cancha.nombre }} - {{ cancha.bloqueada ? 'No Disponible' : 'Disponible' }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!isClub">
    <h2>Próximos Partidos</h2>
    <ion-list>
      <ion-item *ngFor="let partido of partidos">
        <ion-label>
          <h3>{{ partido.equipo1.nombre }} vs {{ partido.equipo2.nombre }}</h3>
          <p>{{ partido.fecha }} - {{ partido.hora }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <h2>Jugadores Buscando Equipo</h2>
    <ion-list>
      <ion-item *ngFor="let jugador of jugadoresSinEquipo" class="list-item">
        <ion-label>{{ jugador.nombre }} {{ jugador.apellidoPaterno }}
          <p>Posición: {{ jugador.posicion }}</p>
          <p>Edad: {{ jugador.edad }}</p>
        </ion-label>

        <ion-button size="small" (click)="invitarJugador(jugador)">Invitar</ion-button>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button size="small" (click)="verMasJugadores()">Ver Más</ion-button>
    </div>

    <h2>Equipos Buscando Contrincante</h2>
    <ion-list>
      <ion-item *ngFor="let equipo of equiposBuscandoContrincante" class="list-item">
        <ion-label>{{ equipo.nombre }}</ion-label>
        <ion-button size="small" (click)="retarEquipo(equipo)">Retar</ion-button>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button size="small" (click)="verMasEquipos()">Ver Más</ion-button>
    </div>

    <h2>Jugadores Destacados</h2>
    <ion-list>
      <ion-item *ngFor="let jugador of jugadoresDestacados" class="jugador-destacado">
        <ion-avatar slot="start">
          <img [src]="jugador.image" alt="{{ jugador.name }}">
        </ion-avatar>
        <ion-label>
          <h3>{{ jugador.name }}</h3>
          <p>Sexo: {{ jugador.gender }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
