<ion-header>
  <ion-toolbar>
    <ion-title>Jugador Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let miembro of miembros">
    <ion-card-header>
      <ion-card-title>{{ miembro.nombre }} {{ miembro.apellidoPaterno }}</ion-card-title>
      <ion-button (click)="eliminarMiembro(miembro.id)">Eliminar</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-item>
    <ion-label position="floating">Email del Miembro</ion-label>
    <ion-input [(ngModel)]="emailMiembro" type="email"></ion-input>
  </ion-item>
  <ion-button (click)="agregarMiembro()">Agregar Miembro</ion-button>
</ion-content>
